/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


/* General Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: hsl(233, 47%, 7%);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: hsl(244, 38%, 16%);
    height: 100vh;
    border-radius: 1rem;
    min-width: 375px;
    max-width: 375px;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 6rem;
}

.img-container{
    height: 40%;
    width: 100%;
    background: linear-gradient(to top, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.65) )
            ,url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.text {
    padding: 1.3rem;
}

.text .info h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text .info{
    margin-bottom: 1rem;
}

.text .info h1 span {
    color: hsl(277, 64%, 61%);
}

.text .info p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.2rem;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
}

.stats .mini-stats{
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}

.stats .mini-stats span{
    padding-top: 0.8rem;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-family: 'Lexend Deca', sans-serif;
}

@media screen and (min-width: 1440px) {

    .container{
        min-width: 70vw;
        max-width: 70vw;
        height: 50vh;
        display: flex;
        flex-direction: row-reverse;
        text-align: start;
        padding: 0;  
    }

    .img-container{
        /* aspect-ratio: initial/initial; */
        max-width: 50%;
        height: 50vh;
        max-height: 50vh;
        background: linear-gradient(to top, hsl(277, 64%, 61%, 0.5), hsl(277, 64%, 61%, 0.65) )
            ,url(./images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;  
        border-radius: 0;      
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

    }

    .text{
        max-width: 60%;
        padding: 4rem;
    }

    .text .info h1{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    .text .info p{
        text-align: left;
        margin-bottom: 3.5rem;
    }

    .stats{
        display: flex;
        flex-direction: row;
        text-align: left;

    }

    .stats .mini-stats{
        margin-right: 5rem;
    }
}






